In [2]:
import pandas as pd
from pathlib import Path
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
import os

In [3]:
DIR_WORKSPACE = Path.cwd().parents[0]
DIR_DATA =DIR_WORKSPACE / "data"
DIR_REPORTS_CSV = DIR_DATA / "mse-daily-data"
DIR_OUTPUT =DIR_DATA / "output_combined_data"
#"/home/risa/Desktop/RISA/TRAININGS/DSCBI/Python Class/projects/AIMS-DSCBI/mse-api-assignment-main/data"

In [4]:
# Collect and combine all csv files
all_csv_files = DIR_REPORTS_CSV.glob("*.csv") # all csv in the Directory
df_list = [pd.read_csv(f) for f in all_csv_files]
if df_list:  # make sure it's not empty
    combined_df = pd.concat(df_list, ignore_index=True)
    combined_df['counter_id'] = range(1, len(combined_df['counter_id']) + 1)
    print("Combined shape:", combined_df.shape)

    # Save to a single CSV
    output_file = DIR_OUTPUT / "combined_reports.csv"
    combined_df.to_csv(output_file, index=False)
    print("Combined CSV saved at:", output_file)
else:
    print("No CSV files found in", DIR_REPORTS_CSV)

Combined shape: (17872, 19)
Combined CSV saved at: /home/risa/Desktop/RISA/TRAININGS/DSCBI/Python Class/projects/AIMS-DSCBI/mse-api-assignment-main/data/output_combined_data/combined_reports.csv

In [8]:
combined_df.head()

,counter_id,counter,daily_range_high,daily_range_low,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,dividend_mk,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time
0,1,AIRTEL,100.09,100.09,100.09,0.00,100.08,100.09,5300.0,2.50,2.50,3.35,29.82,29.12,1100990.00,36925.31,1.100000e+10,2023-08-09,14:32:54
1,2,BHL,NaN,NaN,10.06,0.00,10.06,10.06,0.0,0.00,0.00,-3.44,-29.09,1.28,8447.89,-290.43,8.397507e+08,2023-08-09,14:32:54
2,3,FDHB,73.51,73.51,75.00,0.00,72.97,73.51,70328.0,2.19,2.98,4.52,22.12,12.12,507294.81,22931.78,6.901031e+09,2023-08-09,14:32:54
3,4,FMBCH,340.00,340.00,340.00,0.00,325.09,340.00,973.0,5.03,1.48,4.50,22.24,6.37,835805.00,37581.97,2.458250e+09,2023-08-09,14:32:54
4,5,ICON,NaN,NaN,0.00,18.97,18.97,18.97,0.0,0.25,1.32,13.18,7.59,1.23,126719.60,16706.11,6.680000e+09,2023-08-09,14:32:54

In [6]:
unique_counters = combined_df['counter'].unique()
print(unique_counters)

['AIRTEL' 'BHL' 'FDHB' 'FMBCH' 'ICON' 'ILLOVO' 'MPICO' 'NBM' 'NBS' 'NICO'
 'NITL' 'OMU' 'PCL' 'STANDARD' 'SUNBIRD' 'TNM']

In [ ]:
# Load the combined CSV file into a DataFrame
combined_stock_df = pd.read_csv(output_file)
print(combined_stock_df.head())
print(combined_stock_df["counter"].unique())

company_map = {
    "AIRTEL": "AIRTEL MALAWI PLC",
    "BHL": "BLANTYRE HOTELS PLC",
    "FDHB": "FDH BANK PLC",
    "FMBCH": "FMB CAPITAL HOLDINGS PLC",
    "ICON": "ICON PROPERTIES PLC",
    "ILLOVO": "ILLOVO SUGAR MALAWI PLC",
    "MPICO": "MPICO PLC",
    "NBM": "NATIONAL BANK OF MALAWI",
    "NBS": "NBS BANK PLC",
    "NICO": "NICO HOLDINGS PLC",
    "NITL": "NATIONAL INVESTMENT TRUST PLC",
    "OMU": "OLD MUTUAL LIMITED",
    "PCL": "PRESS CORPORATION PLC",
    "STANDARD": "STANDARD BANK MALAWI PLC",
    "SUNBIRD": "SUNBIRD TOURISM PLC",
    "TNM": "TELEKOM NETWORKS MALAWI PLC"
}

# Add a new column with the full name
combined_stock_df["name"] = combined_stock_df["counter"].map(company_map)
combined_stock_df = combined_stock_df.rename(columns={
    "counter": "ticker",
    "trade_date": "date_listed",
    "buy_price": "listing_price"
})

In [ ]:
CREATE DATABASE stocks;